{% extends 'base.html' %}


{% block title %}
Main
{% endblock %}

{% block body %}
<div class="container">
    <h1>#meteo</h1>
    <div class="card-body">
        <table class="table table-striped">
            <th>Date</th><th>Value</th>
            {% for item in data.items %}
            <tr>
                <!-- <td>{{ item.sensor }}</td>
                    <td>{{ item.data_type }}</td> -->
                    <td>{{ item.time_stamp.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ item.value }}</td>
                </tr>
                {% endfor %}
            </table>

            {% if data.has_prev %}
                <a type="button" class="btn btn-primary" href="{{ url_for('index', page = data.prev_num) }}"><<</a>
            {% else %}
                <a type="button" class="btn btn-light"><<</a>
            {% endif %} | 
                
            {% if data.has_next %}
                    <a type="button" class="btn btn-primary" href="{{ url_for('index', page = data.next_num) }}">>></a>
            {% else %}
                    <a type="button" class="btn btn-light">>></a>
            {% endif %}
    </div> 
</div>
{% endblock %}